@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #e9f5f5;
  --text-dark: #0c566d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-secondary bg-primary-300;
}

p {
  @apply font-secondary italic text-base leading-6;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2;
}

.web {
  @apply opacity-20 w-[135rem] h-[135rem] bg-primary-800 rounded-full absolute -right-[65rem] -bottom-[60rem];
}