@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-light: #e9f5f5;
	--text-dark: #0c566d;
	--primary-800: #1db1ab;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply bg-primary-300;
}

p {
	@apply italic text-base leading-6;
}

.layout-wrapper {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 10rem;
}

.title-underline {
	&::after {
		content: "";
		display: block;
		width: 3.5rem;
		height: 0.5rem;
		background-color: var(--primary-800);
		margin-top: 1rem;
	}
}

.absolute-center {
	@apply absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2;
}

.web {
	@apply rounded-full relative aspect-square;
}

.web-inner {
	@apply absolute rounded-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 bg-primary-800 w-full h-full;
}

/* .web {
  @apply opacity-20 w-[135rem] h-[135rem] bg-primary-800 rounded-full absolute -right-[65rem] -bottom-[60rem];
} */

.link {
	@apply block text-neutral-800 font-light underline;
}

.form-input {
	&.active {
		& label {
			@apply top-0 left-3 text-neutral-800 bg-white z-10 text-xs opacity-100 px-1 font-medium;
		}

		& input {
			@apply border-neutral-600 bg-[transparent] border;
		}

		& input:focus {
			@apply outline-none;
		}
	}
}

/* .checkbox:checked {
	border: none;
}

.checkbox:checked + .check-icon {
	display: flex;
} */

.frequency-line {
	@apply content-[''] absolute w-[90%] h-[2px] z-10 bg-primary-800 left-1/2 -translate-x-1/2 top-[.5rem];

	.block {
		@apply absolute bottom-[2px] bg-primary-200 w-1/4;

		&--1 {
			@apply left-0 h-2;
		}
		&--2 {
			@apply left-1/4 h-4;
		}
		&--3 {
			@apply left-2/4 h-6;
		}
		&--4 {
			@apply left-3/4 h-8;
		}
	}
}

.parent:hover .child {
	@apply block;
}

.section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: rgb(37, 148, 251);
}

.draggable {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
	height: 20rem;
	background-color: #9749ff;
	margin-right: 10px;
	color: white;
}

.drag_item {
	padding: 5px 10px;
	width: 8rem;
	height: auto;
	color: black;
	background-color: white;
}

.lifted {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.circular-progress {
	position: relative;
	display: inline-block;
}

.circular-progress-circle {
	position: relative;
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	overflow: hidden;
}

.segment {
	border: 1px solid red;
	/* background-color: yellow; */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 100%;
	transform-origin: 0 0;

	&:hover {
		background-color: green;
	}
}

.text {
	position: absolute;
	top: 0;
	color: black;
	transform: rotate(0deg) skewX(-50deg);
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.checkbox-hidden {
	& input[type="checkbox"] {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}

.file-input-hidden {
	& input[type="file"] {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}
